[2018-01-02 23:23] agucova opened #1 "User Guide down"
Is the any alternative link for the user link? Dropbox seems to no longer have the file.

[2018-01-03 06:21] cwatson commented on #1
Yes, you can find it here: https://www.dropbox.com/s/im9ej66veimk3hl/brainGraph_UserGuide.pdf?dl=0
This link might get broken, but I am working on a more permanent solution (via Github Pages). This will happen at the same time I push the v2.0.0 updates to Github

[2018-01-03 06:21] #1 closed

[2018-01-03 17:04] seantma opened #2 "How to contribute?"
@cwatson
Appreciate your effort on this package and releasing it to others! Do you have any guidelines on how others can help contribute?

[2018-01-03 17:19] cwatson commented on #2
Hi Sean, no I don't have anything detailed/structured for contributing. I can add it to my TODO list and think about it, but that will have to wait until I finish v2.0.0, which is very close to being released.

Contributions could work the same as they do for any other Github repo, I think. But I don't have any experience with it. What are you interested in contributing?

[2018-01-03 20:08] seantma commented on #2
@cwatson I just think this is a very cool project with excellent documentation!

Many other open source brain graph packages are Python-based with little documentation (& tutorials). Prior to encountering your package, I was thinking about writing up my own graph explorer to better visualize global & node-wise graph metrics. But I'm glad I've got a hold of your package.

I will need to play around

[2018-01-04 05:57] cwatson commented on #2
Thanks, @seantma ! That is actually one of the reasons I have spent so much extra time on the documentation. While I am getting ready to release v2.0.0, I have been updating the User Guide quite a bit, as well. I will also be putting it up on Github Pages because the Dropbox link keeps dying.

[2018-01-04 09:53] cinHELLi commented on #2
Hey @cwatson! I recently used your rich-club function as a base to develop a new core-profiling method and something called the complementary rich-club. I also discussed my results with Zhou and Mondragon (who discovered the rich-club...) and my results are published. If you are interested in contributions, it'd be my pleasure to share the code.   :)

[2018-01-04 14:13] seantma commented on #2
@cinHELLi Would you mind sharing your publication here? I'm interested in learning more about it and how it further compliments rich-club. Thanks!

[2018-01-04 14:19] seantma opened #3 "`cairoDevice` installation error on CentOS 7"
@cwatson You mentioned `brainGraph` was mostly developed on CentOS 6/7. I'm having a hard time trying to get pass the `cairoDevice` installation in RStudio Server. I have installed `GTK 2.24` along with `cairo-devel` and dependencies on my CentOS 7 but it's still giving me errors below. My Ubuntu 16 didn't have this issue. Any thoughts?

[2018-01-04 15:10] cinHELLi commented on #2
@seantma I can share the link here http://www.sciencedirect.com/science/article/pii/S037843711730852X
because of the publisher's requirements. But I also sent you an email with the paper :)

[2018-01-05 04:33] cwatson commented on #3
@seantma Yes, I have been developing the package on CentOS 6 and (for the past ~1.5 years) on CentOS 7. I don't quite remember the exact `yum` packages I had to install, but you should make sure you have installed the following: (I write the command so you can copy and paste it)

`yum install cairo{,-devel,-gobject{,-devel}} ghc-cairo{,-devel}`

And also see if the *GTK* stuff is installed:

`yum

[2018-01-05 05:10] cwatson commented on #2
@cinHELLi Your paper looks really interesting (I ! After I finish the `v2.0.0` release, I will read it in detail and I can think about the best way to include it in the package (with an appropriate documentation section in the User Guide).

Thanks for your interest in `brainGraph`, and for using the package in your work. Would you mind if I add your paper to the *Publications using brainGraph* sec

[2018-01-05 10:08] cinHELLi commented on #2
@cwatson I could help in this process maybe also by uploading the functions on my GitHub in a way that is self-contained so that you can use them directly. Then I can help in providing a good doc and explanation. You can add my paper to the list. I used the rich-club function and the rewiring functions. Btw I think that your package is the only one implementing the rich-club coefficient in R so it

[2018-01-05 18:31] cwatson commented on #2
@cinHELLi Thanks! I will let you know when `v2.0.0` is released and check out your functions.

[2018-01-09 16:25] seantma commented on #3
@cwatson Thanks for the tips. I will give it a try and report back.

It looks like X11 display might also be an issue for running `RGtk` on Rstudio server which its interface is through a browser.

[2018-01-09 16:33] seantma opened #4 "User defined atlas not loadable by `set_brainGraph_attr`"
@cwatson I've followed the User Guide Section 2.4 on generating my own atlas and saving it to a `.rda` file.

However, when calling it from `set_brainGraph_attr`, the atlas data table is loaded by `eval(parse(text=atlas))` where only predefined atlases could be loaded but not user defined atlases. Setting up working directory to point to the user's atlas `setwd()` didn't work as well. Seems like i

[2018-01-09 18:03] cwatson commented on #3
@seantma Ah, I wasn't aware that *RStudio Server* was browser-based.

I am not sure if this would be possible unless you can do X11 forwarding; this [old StackOverflow answer](https://stackoverflow.com/questions/21081124/running-gui-analysis-packages-from-rstudio-server) states that it isn't possible.

There is also [this answer](https://support.rstudio.com/hc/en-us/community/posts/206404717-X11-F

[2018-01-09 18:08] cwatson commented on #4
Yes, it is necessary to have the atlas `data.table` already in your `NAMESPACE`; you can do this by loading the `.rda` file. This is somewhat tedious but I think is the simplest solution for users who want to use their own atlas. Try that out and let me know if it works.

If you already *did* load the `.rda` file, then it's possible you're using a slightly older version of `brainGraph` (but I fixe

[2018-01-09 21:43] seantma commented on #4
@cwatson I've tried both loading my `.rda` file into `NAMESPACE` as well as just pointing to the atlas filename. Both had errors generated.

When loading in the '.rda' and assigning the data.table to `atlas`, the error occurred in `set_brainGraph_attr::vertex-level attributes` section,  line 171:
`atlas.dt <- eval(parse(text=atlas))`
where the actual content of my atlas data.table gets parsed as t

[2018-01-10 04:56] cwatson commented on #4
When you load the `.rda` file, is the name of the `data.table` object equal to the character string stored in `atlas`?

e.g., if
`atlas <- 'customAtlas'`

does `customAtlas` exist in the search path?

What happens if you type `get(atlas)` in your session?

[2018-01-11 16:28] seantma commented on #4
@cwatson I think having a different name for the `data.table` object and the `.rda` was the culprit. After changing them to the same the issue goes away. This issue can be closed now.

You might want to update this into your *User Guide*, Section 2.4, to help guide _user generated atlases_.

In addition, in the same *Compatible atlases* section, you've mentioned for the atlas `data.table` structur

[2018-01-11 20:09] cwatson commented on #4
@seantma Thanks for reporting back. I will add that information to the User Guide.

What I really meant about the `index` column is that it is unimportant to the user; however, it *is* used by a couple of functions. I can add  a check in those functions, as well, to be more informative in error messages.

The `name.full` column can actually be ignored.

[2018-01-11 20:09] #4 closed

[2018-01-12 08:23] cinHELLi commented on #2
@cwatson I uploaded a function which contains (and returns as a output) all the measures used in my paper. It's on my page for whenever you'll have time :)
You'll notice that it's based on your rich-club function...

[2018-03-26 17:50] seantma commented on #2
@cwatson Is there a common practice for R packages, such as `brainGraph`, to allow user written functions to be tested prior submitting it as a pull request to the main repository?

I have some ideas I would like to implement but I find it hard to access the `brainGraph` namespace if I call the package directly from `library()`.

[2018-03-27 20:51] cwatson commented on #2
Hi @seantma , I'm afraid I don't fully understand what you mean. If you've forked the repo, and added a function of your own then you should be able to re-build the package with the addition of your function, and then run your tests. Is this what you were asking about?

RE the namespace: could you describe the namespace access issue you mention?

[2018-05-28 19:10] #3 closed

[2018-05-28 19:11] cwatson commented on #3
I'm closing this because the updates in #5 allow installation on headless servers.

[2018-07-26 12:19] sdrakulich opened #6 "CIVET-output compatibility?"
Greetings,

I'm hoping to understand if your tool is compatible, or could be made compatible with McGill's CIVET tool.
http://www.bic.mni.mcgill.ca/ServicesSoftware/CIVET-2-1-0-Table-of-Contents

Thank you!

[2018-07-26 14:44] sdrakulich commented on #6
Data that I'd need to use is in the structure
- subjectfolder
-- surfaces
with associated txt files containing ~40k rows with values; two files because left and right hemisphere
-- thickness
volume and surface area txt files as described above

I think it might be best to show you another approach, by [Keith Worsley for SurfStat](http://www.math.mcgill.ca/keith/surfstat/), a "Matlab toolbox for th

[2018-07-27 03:45] cwatson commented on #6
Are you planning on analyzing structural covariance networks? If there are ~40K vertices per hemisphere, then the correlation matrix for a single subject would be `8e4 x 8e4` in size, which would be ~51 GB of memory!

I would have to change most aspects of the package in order to accommodate such data, as it is designed to work with networks with 1-2K vertices (maybe more). However, if you are loo

[2018-08-18 22:16] cwatson commented on #6
I'm going to close this issue as it seems unrelated to what the package does.

[2018-08-18 22:16] #6 closed

[2018-09-19 19:16] RGTake opened #7 "Using brainGraph with ecological data."
Hi Chris,

I am interested in using brainGraph package to access vertex roles in some igraph network I am working. My problem is I don't know what this {memb}{A numeric vector of membership indices of each vertex} means. Can I extract it from my igraph networks? Bear with me because I am a noobie at this. Thanks in advance.

Rodrigo

[2018-09-19 19:45] RGTake commented on #7
Thanks Chris.

Yes, I refer to part_coeff, or within_module_deg_z_score.

Ok, so it must separate vertices into different groups. Does this groups enter the calculations? Because I can only think I can use species as a "group". My vertices represent different microbial species found in my samples. I could create a vector that would map to it but it would be very random.

Would it work?

[2018-09-19 20:51] cwatson commented on #7
The typical/classic usage would be to use the output of a community detection algorithm for different groups. Specifically, the `membership` element of the algorithm's results. You can read the references specified in the functions' manual page for background information, and you can check out the code in `set_brainGraph_attrs` for how I call the functions you are asking about.

Let me know if you

[2018-09-27 14:19] cwatson commented on #7
Hi @RGTake , I will close this issue; however, if I haven't sufficiently answered your questions you may re-open it.

[2018-09-27 14:19] #7 closed

[2018-11-08 22:31] proteuslinzk opened #8 "group.cols missing in make_brainGraph()"
Hi Watson,

I am using my own atlas(shen278) to create a brainGraph object, however, something is going wrong.

`> test_brainGraph <- make_brainGraph(test, "shen278_atlas", group = shen278_yeo17$yeo17)
Error in make_brainGraph(test, "shen278_atlas", group = shen278_yeo17$yeo17) :
  object 'group.cols' not found`

I checked the source code, and it appears that the group.cols is not defined early in

[2018-11-09 01:12] cwatson commented on #8
It is a color vector, yes. It was a hack to store several colors for use in the plotting functions. If you cloned the repo from source, you can load `sysdata.rda` (which is in the `R` directory). You could also download it directly from Github. It is also accessible through the "triple colon" operator; i.e., by `brainGraph:::group.cols`.

Finally, if you send me the `data.table` for the `shen278`

[2019-03-25 14:59] giova1588 opened #10 "brainGraph_permute issue with custom Atlas"
Hi, thanks for developing this great R package! I have an issue running the script "brainGraph_permute", in particular when running the script the output is:
` error in { task 3 "atlas name "Gordon333dil" not found`
I followed all the previous steps in the guide to build a custom atlas, successfully because all previous analysis and graph building were fine and correct. Also the bootstrapping was

[2019-03-25 17:17] cwatson commented on #10
Hi, in the error, the atlas name is capitalized (as `Gordon333dil`) but you say that in the global environment it is lowercase `gordon333dil`. My first attempt would be to change that and see if it works.

[2019-03-25 17:22] giova1588 commented on #10
This is the error:
`Error in { : task 3 failed - "object "gordon333dil" not found`
without capital letter, i apologize for the inaccuracy.

[2019-03-25 18:22] cwatson commented on #10
Ok. And if you type `get(atlas)` in the interpreter, before/after the function call/error, does it print a portion of the object?

[2019-03-25 18:27] giova1588 commented on #10
Yes, it print my custom atlas correctly

[2019-03-25 19:55] cwatson commented on #10
If you send me the requisite data to run the function, I can debug it on my end. It is possible that, since `get(atlas)` is called within the `foreach` loop, the full environment isn't being passed, and so it can't find your atlas.

[2019-03-25 20:47] giova1588 commented on #10
Wow the problem seems to be WINDOWS!  I am not a pro user of snow/doSNOW, maybe i did't set them in the right way....by the way i shift to another PC with Ubuntu and the permute function run correctly, without any issue of atlas missing.
Thanks for your help!

[2019-03-25 21:51] cwatson commented on #10
Oh, that's good to know. I am working on a major update to the package (for the near future) which should alleviate this kind of issue, but I will make a note of it in the User Guide. I will close the issue, but please re-open if you continue to experience issues.

[2019-03-25 21:51] #10 closed

[2019-04-18 12:10] giova1588 opened #11 "Anova tests between three or more groups of graph descriptors"
Hi everyone,
i have a question about structural covariance matrices analysis. Following the manual i built adjacency matrices and graphs for my structural data. At this point I would like performing statistical analysis between groups at graph and vertex level, but i have three groups (i.e 1st patient group, 2nd patient group, 3 control group). How could i perform Statistics analysis in this situa

[2019-04-18 23:47] cwatson commented on #11
Yes, if you only have a single graph per group (as is common with structural covariance networks), then you will not be able to do something like an ANOVA. This is because you only would have 3 values for a network metric, instead of `n` values, 1 for each subject. To select only 2 of your 3 groups, you could subset the residuals object in the call to `brainGraph_permute`; for example,
`brainGraph

[2019-04-19 07:30] giova1588 commented on #11
Ok, thanks. So I could perform the following analysis in the way that you describe: Patient1 vs Patient2, Patient1 vs Control, Patient2 vs Control, and there are no possibility to include all three groups (Patient1 vs Patient2 vs Control) to evaluate the differences between all groups like ANOVA. But statistically doing this type of analysis is right? Because in this way is like doing three t-test

[2019-04-19 22:26] cwatson commented on #11
Can you post the exact commands you used?

[2019-04-22 15:26] giova1588 commented on #11
This is an example:
`perms.all.graph_VHvsNVH <- brainGraph_permute(densities, all.dat.resids[, c("DLB_VH", "DLB_NVH")], perms = myPerms, level = "graph", atlas = atlas)`
all.dat.resid is a brainGraph_resids object (i have done this one through the get.resid function and it contains a variable named Groups with my three group labels).

[2019-04-22 16:50] cwatson commented on #11
Ok, please send me some more information:
1. What version of brainGraph are you using?
2. What is the output of `str(all.dat.resids, max=1)`
3. What is the output of `str(all.dat.resids[, c('DLB_VH', 'DLB_NVH')]`
4. What is the output of `all.dat.resids$resids.all[, levels(Group)]`

[2019-04-23 07:54] giova1588 commented on #11
1) version 2.7
2) str(all.dat.resids, max = 1)
List of 6
 $ X           :List of 3
 $ method      : chr "sep.groups"
 $ use.mean    : logi FALSE
 $ all.dat.tidy:Classes ‘data.table’ and 'data.frame':	3700 obs. of  7 variables:
  ..- attr(*, ".internal.selfref")=<externalptr>
  ..- attr(*, "index")= int(0)
  .. ..- attr(*, "__Study.ID")= int [1:3700] 1 14 27 40 53 66 79 92 105 118 ...
 $ resids.all

[2019-04-23 18:47] cwatson commented on #11
I see. Please try running the permutation analysis, but this time, when you subset the residuals add `g=`; i.e.,

`brainGraph_permute(densities, all.dat.resids[, g=c('DLB_VH', 'DLB_NVH')], ...)`

[2019-04-26 12:38] giova1588 commented on #11
ok, i think that the permutation works in this way, because the output are different for the three comparison. Now how i could visualize them? Because if i run `print(plot_global(dt.G.tidy, vline = densities[15], level.names = level.names, exclude = NULL, perms = perms.all.graph_VHvsNVH, g = g))` it return "Error in obs[, i] : index out of limits"
I thought that it is because the variable "dt.G.ti

[2019-04-26 20:09] cwatson commented on #11
Hi, `plot_global` is a pretty old function but if you try subsetting `g` to contain only the groups in the permutation object, then it may work; e.g., `g=g[1:2]` or whatever the group indices would be. (In addition to excluding the relevant group from the data.table, as you did in the second command)

RE the summary error: you receive the same error?

[2019-04-27 20:25] giova1588 commented on #11
With summary i have the same error and I don't know how I could visualize the summary of the permutation statistics...

[2019-04-27 20:57] cwatson commented on #11
If you email to me the permutation results in the form of ".rda" files, along with any other variables needed to inspect the data, I will take a look.

[2019-06-14 21:40] NedaRR opened #12 "vertex_attr_dt Error in get(g$atlas) : invalid first argument"
Hi. Thank you for this great package. I've successfully run "set_brainGraph_attr" and
"dt.G <- rbindlist(lapply(g, graph_attr_dt))".
But I have trouble getting the output from
 "dt.V <- rbindlist(lapply(g, function(x)
                  rbindlist(lapply(x, vertex_attr_dt))))"

Error in get(g$atlas) : invalid first argument
g is a large list (7 elements), that is 7 groups I have.
I'd appreciate your

[2019-06-16 18:20] cwatson commented on #12
Do all of your graphs have a graph-level attribute named `atlas`?
If they do have that attribute, then please make sure the `data.table` for the atlas is in the search path. That is, you should be able to type in the atlas name and it will print the table in the console.

[2019-06-18 14:35] NedaRR commented on #12
I do have atlas as an attribute. Also when I type dk in the console, prints the table.
[code]

[2019-06-19 04:26] cwatson commented on #11
I will close this issue, as it was solved via email.

For posterity, this was due to a bug in `groups` vector of the permutation results object was incorrect. In this case, it included group names that were not part of the analysis. This bug will be fixed in an upcoming release.

[2019-06-19 04:26] #11 closed

[2019-06-19 04:29] cwatson commented on #12
If you email me the object `g` as a `.rds` file (using the R function `saveRDS`) I will take a look.

[2019-06-24 23:41] NedaRR commented on #12
oh! for some reason I didn't receive your reply in my email!
So I just sent it!
Thank you very much!

[2019-06-25 15:04] NedaRR commented on #12
I could finally run dt.V, after I specified atlas="dk" in this function: "g <- Map(function(x, y) lapply(x, set_brainGraph_attr, atlas="dk",
                                modality=modality, group=y),
          g, as.list(groups)) "

However, `groups` is changed to "Group" only. Instead of specifying my 7 groups.
So now the output for dt.G and  dt.V is fine, except that is not specifying the grou

[2019-06-25 15:08] cwatson commented on #12
Hi, I should have inspected the output above more closely. `atlas` is not listed as a *graph*-level attribute above, but rather is *vertex*-level. This is not correct. I am not sure what commands you ran to create the graphs, but you should assign all of your graphs to have the `atlas` attribute. You will probably also need to assign the following *vertex*-level attributes, if they are not present

[2019-06-25 15:09] cwatson commented on #12
Regarding your latest issue, please provide more information when posting. I do not know the contents of the `groups` variable so I am not sure why it is "changed".

[2019-06-25 15:23] NedaRR commented on #12
Atlas is now correctly attributed to gorp ```attr: Cp (g/n), Lp (g/n), rich (g/x), E.global (g/n), clust.method (g/c), mod (g/n), density (g/n), conn.comp (g/x), max.comp (g/n), num.tri
| (g/n), diameter (g/n), transitivity (g/n), assortativity (g/n), **atlas (g/c)**, version (g/x), modality (g/c), Group (g/c), assortativity.lobe
| (g/n), assortativity.lobe.hemi (g/n), asymm (g/n), spatial.dist (g

[2019-06-25 16:27] cwatson commented on #12
I meant the value of the vector `groups`. Please paste the actual value of that variable.

[2019-06-25 16:36] NedaRR commented on #12
[1] "Group"

[2019-06-25 16:42] NedaRR commented on #12
One other question I got, how is "hub" been defined/calculated in the Braingraph? what does hub=0, hub=1, and hub=2 and more represent? Is hub referring to hub betweenness?
I am following this:
[code]
I am interested in the hub betweenness > 2 sd

[2019-06-25 16:59] cwatson commented on #12
Regarding the `groups` variable, this must be a *vector*, with length equal to the number of your groups (i.e., 7), in which each element is the group name/label.

Regarding *hubs*, please see the reference in the help for the `hubness` function. As it states, the value for `hubs` is from 0 to 4, depending on how many times the vertex was in the top 20% for one of the 4 metrics. The authors of the

[2019-06-25 17:11] NedaRR commented on #12
Thank you so much! Its working perfectly now!

[2019-06-25 22:55] cwatson commented on #12
I'm glad to hear it. I will close the issue.

[2019-06-25 22:55] #12 closed

[2019-06-26 14:14] AndrewLawrence opened #13 "numeric subject IDs with leading zeros"
This is an edge case, but where all subject IDs are numeric then those with leading zeros will be changed when imported with `import_scn`.

For example `"0506"` becomes `"506"` because fread guesses whether columns are numeric or not based on their content. Character output is guaranteed because of `as.character`, but if there are leading zeros then `as.character(as.numeric(x)) != as.character(x)`

[2019-06-27 17:23] cwatson commented on #13
Thanks for discovering this, it does look like the fix is that simple. I will push it over the weekend.

[2019-06-28 10:01] AndrewLawrence commented on #13
Great, thanks! - and thanks for putting such a great package out there.

[2019-06-29 21:29] #13 closed

[2019-07-22 10:47] psyguy opened #14 "Error in rich_club_norm: calling non-existing V(g)$degree"
Hi,

When using `rich_club_norm()` I get an error and a warning:
[code]
This is apparently due to the fact that the code calls `V(g)$degree`, while it's not calculated beforehand.

Am I right? Does it have a quick fix, or I do it myself?

[2019-07-22 11:12] psyguy commented on #14
Apparently, this issue in the code was for the version `2.2.0` on CRAN, which is corrected on the latest version here (as unloading the package and `devtools::install_github(...)` solved it.)

[2019-07-22 11:12] #14 closed

[2019-07-23 16:39] cwatson commented on #14
Thanks for posting, and for finding the solution.

[2019-10-07 01:43] richpauloo opened #15 "Parallel processing for calculating efficiency of very large graphs"
As discussed in this [Stack Overflow question](https://stackoverflow.com/questions/55754804/computing-graph-efficiency-metrics-of-a-very-large-network), `brainGraph::efficiency()` uses `igraph::distance` to calculate distance matrices.

When the number of vertices is large, this can easily eat up all of the memory of a local machine.

A solution that @cwatson proposed on SO is to run the calculati

[2019-10-07 05:50] cwatson commented on #15
Thanks for posting here. `igraph` is supposed to work for graphs with 1MM+ vertices, but I do not know if those cases are typically relatively sparse graphs. `brainGraph`, on the other hand, was originally "only intended for" graphs with up to ~1,000 vertices or so (at least, I never really considered the issue of very very large, dense graphs). It may be best to contact the `igraph` folks for the

[2019-10-17 04:30] lzhyoung opened #16 "Error: package or namespace load failed for ‘brainGraph’: 'namespace:mediation' do not have ‘summary.mediate’"
Hi,
I can not load the brainGraph sucessfully.
I had tried to reinstall R to 3.6.1, and all packages.
However, it can not solve the problem.
I guess the problem might because "mediation" package has deleted the "summary.mediate" object, while your packkage still use the name not available now.
-lzy

[2019-10-17 04:36] lzhyoung commented on #16
I am sorry for not giving the detail information.

载入需要的程辑包：igraph

载入程辑包：‘igraph’

The following objects are masked from ‘package:stats’:

    decompose, spectrum

The following object is masked from ‘package:base’:

    union

Error: package or namespace load failed for ‘brainGraph’:
 'namespace:mediation'没有出口‘summary.mediate’这个对象

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (6

[2019-10-17 12:34] cwatson commented on #16
You are exactly right, the mediation package no longer exports that function. I am working on a major update that will fix this and plan on finishing in the next week. If it ends up looking like it will take longer, I will try to push a small bugfix update. I am sorry for the issue.

[2019-10-18 16:41] iueda123 commented on #16
Hello, I'm interested in your brainGraph.
But I faced with the same installation problem. I looking forward to your update!!

[2019-10-20 05:47] #16 closed

[2019-10-20 13:35] cwatson commented on #16
Hi everyone, if you use `devtools::install_github('cwatson/brainGraph')`, then you should be able to install now without error. Please let me know if you continue to have issues.

[2019-10-29 01:16] jmruzek17 commented on #16
@cwatson, that worked thanks!

[2019-11-06 12:37] AndrewLawrence opened #17 "Weighted Graph Efficiency"
Hi Chris,

If I understand the package right, brainGraph universally stores strength-type weights (i.e. larger value = stronger connections), then converts these with `xfm.weights` when cost/distance type weights (larger value = weaker connection) are needed.

The `efficiency` function needs the latter cost/distance type weights, but the documentation doesn't specify this.

First proposal - to cla

[2019-11-06 16:07] cwatson commented on #17
Hi @AndrewLawrence , I wouldn't say it "universally" stores strength-type weights; it is entirely dependent on the user's input graphs. I have assumed throughout that brain networks will universally have strength-type weights (streamline/fiber counts or FA/MD/AD/RD/etc. in DTI, correlation/covariance in fMRI or structural covariance), but non-neuroscience users do use some functions as well.

You

[2019-11-06 17:07] AndrewLawrence commented on #17
Thanks, that makes sense. On reflection, 'stores' was a bit of an odd choice of word and suggesting universality was - as you point out - flat out wrong. I should have said something like 'the package expects the "weight" edge attribute of brainGraph objects to contain strength-type weights'.

Looking forward to v3.0.0.

[2019-11-22 09:43] GerardYu opened #18 "connectivity matrices from ExploreDTI"
I've gotten some connectivity matrices from ExploreDTI using the AAL atlas. These were originally .mat files, I 've converted them into .csv files. I tried to do a create_mats, but I end up with the following error:

Error in scan(x, what = numeric(0), n = Nv * ncols, quiet = TRUE) :
  scan() expected 'a real', got '"","CM.1","CM.2","CM.3","CM.4","CM.5","CM.6","CM.7","CM.8","CM.9","CM.10","CM.11",

[2019-11-22 15:58] cwatson commented on #18
Hi @GerardYu , those files should instead be space- or tab-separated (although CSV might work). But the error is probably due to the column names, so remove column names and it should work.

[2019-11-25 03:27] GerardYu commented on #18
I removed the column names it still doesn't work

Error in scan(x, what = numeric(0), n = Nv * ncols, quiet = TRUE) :
  scan() expected 'a real', got '2200,28,613,78,NA,NA,808,1,NA,NA,373,NA,105,NA,NA,NA,225,NA,513,113,NA,NA,NA,NA,NA,NA,NA,NA,231,NA,NA,NA,165,153,NA,NA,9,37,22,37,NA,NA,8,NA,41,NA,7,1,85,NA,48,NA,NA,NA,13,37,1314,14,25,1,516,1,53,1,414,NA,4,NA,616,63,236,5,5,5,NA,1,482,143,11,NA,33

[2019-11-25 03:45] cwatson commented on #18
I cannot download the file, but regardless I don't think comma-separated will work. Each element should be separated by a space (possibly a tab). I recommend saving/converting the files to be space-separated instead.

[2019-11-25 04:16] GerardYu commented on #18
I tried to convert it to space delimited (.prn) it didn't work. I've checked there are equal number of rows and columns before converting to space-delimited PRN.

Error in base::rowSums(x, na.rm = na.rm, dims = dims, ...) :
  invalid 'dims'
In addition: Warning message:
In matrix(scan(x, what = numeric(0), n = Nv * ncols, quiet = TRUE),  :
  data length [3335] is not a sub-multiple or multiple of

[2019-11-25 05:15] cwatson commented on #18
I am not familiar with the `prn` format and I don't recommend using it.

I downloaded the text file and was able to import it using `scan`. The error with `rowSums`, though, I am not sure what is causing it. The only instances of `rowSums` in the function have `dims=2` and not `dims=dims`; did you change the code? Actually, `create_mats` really needs multiple subjects for it to work properly -- in

[2019-11-25 07:03] GerardYu commented on #18
thanks. it worked now after replacing the NAs with 0

[2019-11-25 15:50] cwatson commented on #18
Glad to hear it works. I will update the User Guide to mention this issue.

[2019-11-25 15:50] #18 closed

[2020-02-28 11:22] tfblanken opened #19 "Error get.resid() function: x is not data.table"
Hi Chris,

Im following your user's guide to construct a structural covariance network. Very helpful, thanks.
Unfortunately I get stuck at the 'model residuals' part, specifically:

`all.dat.resids <- get.resid(lhrh, covars=covars, exclude.cov='Group')`

gives an error:
`Error in setkeyv(x, cols, verbose = verbose, physical = physical) :
  x is not a data.table`

I've looked into the function, run

[2020-02-28 12:13] tfblanken commented on #19
I got it to work temporarily by replacing `DT.m <- melt(DT.cov, id.vars = names(covars), variable.name = "region")` for:

`DT.m <- reshape2::melt(DT.cov, id.vars = names(covars), variable.name = "region")`
`DT.m <- as.data.table(DT.m)`

But now get a new error:
`Error in get_lm_vars(covars, exclude.cov, ...) :
  could not find function "get_lm_vars"`

I cannot find the function `get_lm_vars` mysel

[2020-02-29 15:49] cwatson commented on #19
Hi Tessa, It seems my previous reply didn't go through... I have a few suggestions:

1. Make sure that `covars` is a `data.table`; I suspect yours is a `data.frame`, which is why you see the `setkey` error in your first post. The *warning* will probably still show up but that is OK; it will be taken care of for the next release.
2. If you really wanted to edit the code, you could download the `get

[2020-03-02 10:30] tfblanken commented on #19
Hi Chris,

1. Thank you so much, you are right! I repeatedly checked the structure of all other elements, but forgot to check `covars`. Unfortunately it still doesn't work, but it has something to do with the variable types of my Study.ID (integer) and Group (factor). I was wondering, is there some reproducable example and example data that I can go through and see the exact dimensions/ types/ etc

[2020-03-02 18:59] cwatson commented on #19
I don't have a reproducible example or data; the better solution would be better checking within the code (that is, my code and not the users'); I will include a check for a `data.table` in the next version.

I definitely recommend against `Study.ID` being an integer. At the least, it should be a fixed-width character string of integers. Here is how you can convert that:

    n <- covars[, max(Stu

[2020-03-03 08:48] tfblanken commented on #19
Thanks, Chris.

I have worked through your User Guide's example, line by line. In some cases it would be nice however to see the structure of an object, in order to see where the problem potentially occurs. In any case, thanks a lot for all your help.

I have now made sure that Study.ID is a fixed-width character string of integers. I do however still get warnings. I'll again will check within you

[2020-03-03 18:33] cwatson commented on #19
1. Which objects are you talking about, specifically? There is an example for `covars` in chapter 5.1, and I have tried to describe the outputs of many functions. While `Study.ID` is not a fixed-width character vector there, it should be; that is only because I hadn't noticed and didn't check closely before but will do so for the next update.
2. The warnings can almost always be safely ignored. It

[2020-03-03 18:33] #19 closed

[2020-06-23 17:02] Forrestwang1 opened #20 "plot.braingraph function"
HI Chris,
I am wondering whether plot function can help plot same group ROIs in same colour based on coordinates. Here is the example data. The first three are coordinate and the  last  column is the group.
Thanks~

`

  | x | y | z | group
-- | -- | -- | -- | --
0 | -34.0239520958084 | -40.1017964071856 | -22.0059880239521 | 3
1 | -36.3230769230769 | -55.6 | -18.4307692307692 | 2
2 | -26.04081632

[2020-06-23 18:18] cwatson commented on #20
I am not entirely sure if this is what you are asking for, but you would assign a vertex attribute for the group colors, let's say `color.group`, and then use that in the function call
`plot(g, vertex.color='color.group')`

[2020-06-24 02:12] Forrestwang1 commented on #20
Thanks Chris~I will try it.

[2020-06-24 04:34] Forrestwang1 commented on #20
Hi Chris, I  finished reading your guide book online and just tried to solve my question based on your help but still failed, and I am wondering whether you can give me some example code if you do not mind, thanks a lot~

[2020-06-24 05:25] cwatson commented on #20
What did you try? How did it fail? If there is an error, what is the output of `traceback()`?

[2020-06-24 16:26] Forrestwang1 commented on #20
I got trouble to make g from x, y, z values.

[2020-06-24 20:13] cwatson commented on #20
I still need more information, and you didn't answer my previous questions. I need to know:
* The code you used
* The nature of your data (where it comes from, what format, what it represents, what it contains, etc.)
* If you got any errors, what the errors are and what caused them (including the output of `traceback()`)

There is quite a lot of example code in the User Guide. If you are a beginne

[2020-06-24 22:46] Forrestwang1 commented on #20
Hi Chris, the code I used is `graph_from_data_frame` but the code need a edge list but the data does not haver a edge list. The above data is the result from a machine learning, x, y ,z are the coordinates of ROI, and the last column of 'group' is the group number from machine learning results. As what I said before, I am tied by creating the `g`  since there is no edge list. Thanks~

[2020-06-25 03:04] cwatson commented on #20
If your data have no concept of edges, then I suppose you could use the `igraph` function `make_empty_graph`, assign vertex attributes for the coordinates and group, and assign colors based on group. However, none of this involves the `brainGraph` package. The `plot.brainGraph` function is more-or-less a wrapper for `plot.igraph` so you can just as easily use that function.

[2020-06-26 03:08] Forrestwang1 commented on #20
Thanks Chris~

[2020-06-26 03:08] #20 closed

[2020-09-07 05:06] EunyoungL opened #21 "Called from: e$fun(obj, substitute(ex), parent.frame(), e$data)"
Dear Chris!!
when I ran the code below, I got this error.
I think the part of "graph_from_adjacency_matrix" was ok. I got the list of iGraph class object.
but "set_brainGraph_attr" was the problem where I got an error.
is there any thoughts or comments? what am I getting this error??
Please help me out!!!

Error in { : task 1 failed - "argument is of length zero"
In addition: Warning message:
exec

[2020-09-07 14:56] cwatson commented on #21
You should not use the `apply` function; you probably want to use `sapply` instead. *Unless* `allmats` is a 3-D array; in that case, you should change the `1` to `3`.
Either way, you don't need the line `return(g)`, nor do you need the second `g <-`.
(In the next version, graph creation and attribute calculation will be done with one function in the package; I am close to finishing that version.)

[2020-09-18 14:34] drmowinckels opened #22 "Consider submitting to Neuroconductor"
Hi!

What an excellent package! I stumbled upon it when a user of my own package had issues which stem from my package also exporting a `dk` dataset what was conflicting with yours.

Please consider submitting this work to the [Neuroconductor](https://neuroconductor.org/) project. Its a great way to get R users in Neuroimaging easy access to your package :)

[2020-09-20 01:51] cwatson commented on #21
Closing due to inactivity.

[2020-09-20 01:51] #21 closed

[2020-09-29 01:43] #17 closed

[2020-09-29 01:43] #15 closed

[2020-11-05 00:13] lupbla opened #23 "error in running make_brainGraphList"
I followed the brainGraph user guide for version 3.0.0., but when I get to the make_brainGraphList command I get the following error:
Error in { : task 1 failed - "invalid 'length.out' value"
This is a sample of the adjacency matrices
[adjmats.zip](https://github.com/cwatson/brainGraph/files/5491180/adjmats.zip)
Could you help fix this error?

[2020-11-10 15:04] cwatson commented on #23
Sorry, I thought I had replied to this sooner. I need the code you used and all the data that would allow me to reproduce this error.

[2020-11-11 21:52] lupbla commented on #23
Hi,
Thank you for your response.
I send the code I used, I tried to make it as straightforward as possible.
I think it's still messy, but I'm not very good at coding, sorry.
the first two files are the data and the last one has the scripts.

The graphs_old code kind of works, but when I try to get the results into
object g with script 04_save it gives me an error.
the makeGraphs code gives the len

[2020-11-12 13:59] cwatson commented on #23
I still have not received any code. I cannot debug your issue without it.

[2020-11-12 17:34] lupbla commented on #23
I apologize, I sent you a link to my Google Drive because I got a message
that the email was too big. The data is in the drive link:
https://drive.google.com/drive/folders/1RDCJ17Hgjzk4FSQ8_-5Ne71asHu0neC9?usp=sharing
and the scripts are in the zipped folder I attach.
Thank you

El jue., 12 nov. 2020 a las 7:59, Chris Watson (<notifications@github.com>)
escribió:

[2020-11-13 13:35] cwatson commented on #23
Please do not use code from older versions, as `v3.0.0` is not backwards compatible. I have a few other comments:

- In your `03_makeGraphs.R` script, change the argument `groups` to `grpNames`.
- You set `weighting='sld'` but your modality is `fmri`; this does not fit as `sld` is specific to DTI (streamline density).
- I do not understand why you load so many packages in your initial script. I pr

[2020-11-13 13:35] #23 closed

[2020-11-13 16:58] lupbla commented on #23
thank you very much.
What should I set the weighting to instead?
I will look up for the google group

El El vie, 13 de noviembre de 2020 a la(s) 7:35, Chris Watson <
notifications@github.com> escribió:

[2020-11-19 01:20] lupbla commented on #23
I tried your suggestions, instead of using the power atlas as custom I used
yours and it looked like it was working, but when I check the g object I
get this
Error in seq_len(no) : argument must be coercible to non-negative integer
Is installing the previous version my only option?
I attach the code I used and the data is the same as I had shared
https://drive.google.com/drive/folders/1RDCJ17Hgjzk

[2020-11-19 04:57] cwatson commented on #23
I assume you are referring to the error you see when you simply type `g`. That error is specific to `igraph`, and it is not a critical error, so you would have to contact the `igraph` developers to solve it. However, it should not affect data analysis.

[2020-11-19 21:19] lupbla commented on #23
thank you, I think I just panicked.

El mié, 18 nov 2020 a las 22:57, Chris Watson (<notifications@github.com>)
escribió:

[2020-11-23 20:42] lupbla commented on #23
I just noticed that when the make_brainGraphList command ran was when I set
atlas <- 'power264'
but I excluded five regions when I created the correlation matrix.
When I use
subnet= regions
and set regions to
the names of the excluded regions it gives me the same error
Error in { : task 1 failed - "invalid subscript type 'list'"

I just don't know how can the graphs be made if the atlas does not m

[2020-11-24 01:12] cwatson commented on #23
You are doing it backwards; `subnet` should include the names of the regions you want to keep. Please read the documentation carefully.

[2021-03-02 02:28] soffiafdz opened #24 "Foreach is unable to access custom atlas object in make_brainGraphList()"
Hello, @cwatson. I'm trying to build several graphs of BOLD data using different atlases. The first two run with no issues (as they're both implemented in your latest version), but when I get to the third `make_brainGraphList` stops and throws:
`Error in { : task 1 failed - "object 'schaefer100x7' not found"`.

I found another similar issue [#4], but I still can't resolve my problem. I followed th

[2021-03-02 02:46] cwatson commented on #24
Can you try putting the following code in your script *before* the call to `make_brainGraphList`:
`.GlobalEnv$schaefer100x7 <- schaefer100x7`

[2021-03-02 03:40] soffiafdz commented on #24
Yeah, no, it's still not working on my end

[code]

[2021-03-02 12:45] cwatson commented on #24
What system are you running on? Can you return the output of `sessionInfo()`? This may be a Windows-related issue.

[2021-03-02 13:13] soffiafdz commented on #24
I'm running on a cluster, which has CentOS. Because of the files sizes, I haven't tried using my personal laptop, but that runs Linux, too (Void), so I don't think it would make much of a difference.

[code]

[2021-03-02 13:23] cwatson commented on #24
The only other quick fix I can think of is to edit the function and change the `foreach` line to read
`g <- foreach(i=seq_len(kNumGraphs), .export=atlas) %dopar% {`
although this may be more difficult if you are on a cluster.

I am also not sure if it will matter, but you can try with `.progress=FALSE`.

[2021-03-02 14:10] soffiafdz commented on #24
I'll try adding the `.export` argument to the foreach function. I did have a hard time accessing the inner functions and methods, but I'll do my best.

And yeah, I left the progress bar in the script I ran interactively, but in the Rscript I send as a job I have disabled the progress bar for a cleaner log and it doesn't make a difference.

[2021-03-14 18:32] mmpust opened #25 "robustness function, random error"
Thank you for providing this nice R package. I want to calculate my network (igraph) robustness and vulnerability. When I run the robustness function with degree and betweeness centrality measures, it does run fine. However, for the random argument, I always get the following error message:

` Error in { : task 3 failed - "Invalid vertex names" `

Any ideas on how to solve the problem? Why is it j

[2021-03-14 20:40] cwatson commented on #25
When `random` is chosen, it uses the vertex names to remove vertices one-by-one. Does your graph have vertex names?

[2021-03-19 18:45] martaesse commented on #25
Hello everyone!
I am also trying to calculate my network robustness with the following command:

robustness(net_joint, type=c("vertex"), measure=c("random"))

but the error is always:

Error in { : task 3 failed - "Invalid vertex names"

as that reported by @mmpust !!
I'm not really an R expert and maybe I can't import the vertex names correctly. Maybe can someone help me?

  id  name tipologia

[2021-03-22 14:55] mmpust commented on #25
I was not able to solve the problem, even though the vertexes in my network have unique names.

[2021-03-24 11:59] cwatson commented on #25
If one or both of you could send me (via emai if you prefer) the graph that is causing errors (as a `.rds` file) I can take a look and should be able to make a bugfix update soon (maybe this weekend).

[2021-03-24 12:36] martaesse commented on #25
Thank you very much for your answer @cwatson.  Here you find attached my graph.
As you'll see it is a very very simple graph and I think the problem is related to my lack of experience with R (and with graphs in general). You will find my problem a bit silly, so thank you for your time.

[graph.zip](https://github.com/cwatson/brainGraph/files/6197103/graph.zip)

[2021-03-27 01:21] cwatson commented on #25
@martaesse
I loaded your graph and was able to run, without error:
`robustness(g, type='vertex', measure='random')`

I am not sure why you would see an error. Your post shows that your graph has names, but the graph you sent me is unnamed (they are just numbers); however, when I assign the same names I am still able to run the function.

Are you running on **Windows**, by chance? Please provide so

[2021-03-27 10:37] martaesse commented on #25
Thank you @cwatson. I'm sorry I sent you a graph with different names from one in the post: this is because I did a lot of tests changing the names of the nodes, hoping that the error was in the type of name assigned, i.e. whether it was a number or a string. While the robustness command with the "degree" and "betweenness" option always works, the "random" one never does. (Robustness also works by

[2021-03-27 12:32] cwatson commented on #25
I see. My first recommendation would be to use a *Linux* system, as I have seen more `foreach`-related issues on *Windows* systems. I don't do development on *Windows* so it would be difficult for me to update the function and test it to make sure it works, as it works just fine on my computer. But I will try to update it so it doesn't use vertex names either way.

Out of curiosity, do you also se

[2021-03-27 13:49] martaesse commented on #25
I really thank you.
I tried your method to assign vertex name using aal116, but unfortunetely it does not work: I always get the same error `Error in { : task 3 failed - "Invalid vertex names".`
As you suggest, I can use a Linux system to overcome this problem. This is  really useful information for me.
About your question..i don t get any error when using  `robustness(g, type='edge', measure='ran

[2021-08-02 15:15] bgunasekera opened #27 "Remapping coordinates into DK"
Hi,

I am unsure if this is an appropriate ask of brainGraph.

Nevertheless, I have a list of coordinates I would like to parcellate across the DK atlas. Is this possible using brainGraph?

Best wishes,
Brandon

[2021-09-08 13:20] alexedmon1 opened #28 "import_scn gives error when using scgm"
When I try to use either atlas including scgm (destrieux, dk, dkt) in import_scn, I get the following error:
[code]

Even when I specifically include a subject in exclude.sub.

[2021-09-16 17:35] #28 closed, assigned to nobody

[2021-11-22 09:20] weibokong27 opened #29 "Conflict between different packages, robustness function, random error"
Hi

Thank you for providing this nice R package. I really want to use it, but I ran into some problems:

1. When I load the two packages (_brainGraph v 3.0.2_ and _ggplot2 v 3.3.5_) at the same time, the line cannot be fitted:

![{6C9FFBD2-E664-50A5-53B6-8146AA4CEB6D}](https://user-images.githubusercontent.com/56707103/142833072-67c6daf0-5aa9-48f8-8d52-e82279eca234.jpg)

2. robustness and vulnerab

[2022-04-22 23:53] MarianaV52 opened #30 "Problem with "create_mats""
Hi, thank you for developing this package! I want to create an array with all my ".mat" files but it appears this issue:

Error in create_mats(DCF_mats, modality = "dti", algo = "deterministic") :
  length(A.files) == nz is not TRUE

[2022-09-30 16:16] xyang2uchicago commented on #25
Hi, Christopher,

 **I have the same issue even when I running the code on Linux.**

R version 4.2.0 (2022-04-22)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Scientific Linux 7.4 (Nitrogen)

Matrix products: default
BLAS/LAPACK: /software/openblas-0.3.13-el7-x86_64/lib/libopenblas_haswellp-r0.3.13.so

locale:
  [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
[3] LC_TIME=en_US.UTF-8        LC

[2022-10-19 08:07] tenguzame commented on #25
Greetings,
I am encountering the very same error, both on Windows and Linux. Using R v.4.2.1 on RStudio. I tried changing the vertex names, assigning random ones in different combinations, by using only strings or whatever, but the results are always the same:
`Error in { : task 3 failed - "Invalid vertex names"`
Has anybody managed to find a workaround?
Best regards

[2022-11-28 15:55] cwatson commented on #25
Sorry for such a late response. I can replicate the error with some data provided by another user, so I'll have to work on an update that avoids using the vertex names. It does not appear to be a **Windows** issue, nor is it a _R v3.x_ vs. _v4.x_ issue.

I'll try to get a bugfix update in the next few weeks.

[2022-11-28 16:02] cwatson commented on #29
Sorry for such a late response.

1. I cannot replicate that warning; I am able to plot with the smoother both before and after attaching _brainGraph_.
2. I will look into this but it seems to be the same as #25.

P.S. In the future, please submit separate issues when they are unrelated (i.e., 1 and 2 in your post).

[2022-11-28 16:06] cwatson commented on #30
Hello, that error means that the file list (i.e., `A.files`) is either incorrectly specified, or you should explicitly provide a value for the `inds` function argument. Please read through the **User Guide Chapter 7** in particular.

[2022-11-28 16:08] cwatson commented on #27
Sorry, I'm not sure what you're interested in, exactly, but this seems like it would have to be done outside of _brainGraph_. Perhaps see if _FreeSurfer_ can achieve what you'd like.

[2022-11-28 16:08] #27 closed, assigned to nobody

[2022-11-28 16:12] cwatson commented on #24
Closing due to inactivity and because I'm not sure I'd be able to fix this properly. Please feel free to reopen the issue if it is important and I will look into it.

[2022-11-28 16:12] #24 closed, assigned to nobody

[2022-11-28 16:17] cwatson commented on #22
Sorry for such a late response, but thanks for the suggestion. I will have to look into what is required for submitting to _Neuroconductor_.